annotated-types==0.7.0
dnspython==2.8.0
dotenv==0.9.9
greenlet==3.3.1
numpy==2.4.2
pandas==3.0.0
pydantic==2.12.5
pydantic-settings==2.13.0
pydantic_core==2.41.5
pymongo==4.16.0
PyMySQL==1.1.2
pyodbc==5.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
six==1.17.0
SQLAlchemy==2.0.46
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
backend-production-toolkit @ git+ssh://git@github.com/Amirelvx11/backend-production-toolkit.git@v0.1.1

